.datetime {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: max-content;
    height: 52.67px;
}

.datetime .time {
    font-size: 1.3rem;
}

@media (max-width: 480px) {
    .datetime {
        flex-direction: row;
        align-items: center;
        height: auto;
        font-size: 1.5rem;
        gap: 1rem;
        justify-content: start;
    }

    .datetime .time {
        font-size: 1.6rem;
    }
}